/data/certbot
node_modules/
.DS_Store
npm-debug.log
build/
.env
*.sqlite3
.idea/
.env-build

node_modules
build
################################################
###############  .gitignore   ##################
################################################


################################################
# Sublime
################################################
sftp-config.json
*.sublime-project
version.json

default.etcd




################################################
# Node.js / NPM
################################################
build
lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log
.node_history
node_modules
*.csv




################################################
# Miscellaneous
################################################

*~
*#
.DS_STORE
.netbeans
nbproject
.idea

*.aes
dockercfg
*.decrypt
coverage
dist
.build/*
.nyc_output
environment
build/
*.env
*.env.*
!.env.example
.envrc
*.dump
coverage.lcov
local
*.key
*.key.pub
firebase.config.json
.eslintcache

#do not ignore:
!.build/.gitkeep
!.env.gpg/data/certbot
node_modules/
.DS_Store
npm-debug.log
build/
.env
*.sqlite3
.idea/
.env-build

node_modules
build
################################################
###############  .gitignore   ##################
################################################


################################################
# Sublime
################################################
sftp-config.json
*.sublime-project
version.json

default.etcd




################################################
# Node.js / NPM
################################################
build
lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log
.node_history
node_modules
*.csv




################################################
# Miscellaneous
################################################

*~
*#
.DS_STORE
.netbeans
nbproject
.idea

*.aes
dockercfg
*.decrypt
coverage
dist
.build/*
.nyc_output
environment
build/
*.env
*.env.*
!.env.example
.envrc
*.dump
coverage.lcov
local
*.key
*.key.pub
firebase.config.json
.eslintcache

#do not ignore:
!.build/.gitkeep
!.env.gpg
